PhysicalSample.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:aasg="http://stategeothermaldata.org/uri-gin/aasg/xmlschema/physicalsample/0.8" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gmlsf="http://www.opengis.net/gmlsf" targetNamespace="http://stategeothermaldata.org/uri-gin/aasg/xmlschema/physicalsample/0.8" elementFormDefault="qualified" version="02.0">
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gmlsf" schemaLocation="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd"/>
	<xs:annotation>
		<!-- This XSD document, including XML schema, indicates the content requested for basic data characterizing a physical sample. The content model is based on consideration of content requested for SESAR, EarthTime, GeoSciML, Storet, ISO19115. Focus is on terrestrial (land based) samples. Content model includes sufficient information for SESAR registration (see http://www.geosamples.org/), but is not complete with all possible content in the SESAR sample data model. Each measurement should have a unique SpecimenURI. -->
		<!--Annotated version 0.8.2. This XSD document was created on 2013-01-23 by Christy Caudill, AZGS.  This schema is based on the data available in the AASG Web Feature Services created for the physical sample specimens. Field Description annotations standardized 2013-08-22 by Esty Pape, AZGS.-->
		<xs:appinfo source="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd">
			<gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
			<gmlsf:GMLProfileSchema>
http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsf.xsd </gmlsf:GMLProfileSchema>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="PhysicalSample" type="aasg:PhysicalSampleType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="PhysicalSampleType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="OBJECTID" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Integer record count, added by ArcGIS servers during service deployment; not required but cannot be removed when deploying from ArcGIS feature class. Not user maintained, so this element appears in XML implementation but not in the Content Model Template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecimenURI">
						<xs:annotation>
							<xs:documentation>Unique identifier for sample; should include protocol prefix with known meaning, delimited by a ':' (colon), e.g. igsn:24623570 or http://resources.usgin.org/uri-gin/AZGS/sample/24623570.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SpecimenLabel" type="xs:string">
						<xs:annotation>
							<xs:documentation>Short text string to identify/characterize the samples used in this observation; may include one or more sample names as provided by the sample collector or analyzing laboratory.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecimenDescription" type="xs:string">
						<xs:annotation>
							<xs:documentation>Free text description of sample, including size, weight, quality, lithology, locality, etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ParentSpecimenURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifier for a specimen from which this specimen was sub-sampled; e.g. if a piece from a registered core is registered as a separate sample, this would be the identifier for the core.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="OtherID" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Alternative identifier(s) for the feature. Indicate the authority from which the OtherID is derived with a short (lower case) prefix delimited by a colon ':' If identifiers from multiple different authorities are available, delimit these identifiers with the pipe character '|'. For example, if a well were known to the Arizona Geological Survey (AZGS) by the id number 1337, the identifier string would be azgs:1337. Any such prefixes used to scope identifiers should be explained in the dataset metadata.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GeologicUnitName" type="xs:string">
						<xs:annotation>
							<xs:documentation>Name of geologic unit that was sampled. Include hierarchy of names if the unit is part of a higher-rank geologic unit, e.g. Group name/Formation name, or Formation/Member, or Group/ Formation. Spell out unit names in full.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FeatureOfInterestURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Unique identifier that specifies the feature represented: e.g. a geologic feature, aquifer or facility structure. Ideally, the identifier is an http URI that will dereference to a known, useful representation of the feature. This identifier will be used to cross reference the feature to other information related to this feature.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SamplingFeatureName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Human-intelligible name of sample location, e.g.  well, outcrop, 'Exxon 1 Cochise well', 'Outcrop on Hwy 63 mile marker 125' etc. from which the specimen was obtained. If missing, use OGC nil value (see OGC_nilValues tab).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SamplingFeatureURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Unique Identifier for the particular site (station) or well where the sample(s) came from. For wells, this might be the HeaderURI or API number used in other metadata files. If unavailable, state 'missing'. SamplingFeature is a concept that represents the feature that accesses the part of the Earth from which the sample came, e.g. outcrop, borehole, dredge haul.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MaterialClass" type="xs:string">
						<xs:annotation>
							<xs:documentation>Category from simple material classification scheme e.g. rock, sediment, aqueous liquid, other liquid, gas, biological material.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LithologyTerms" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Description of the lithology of surface geology or geologic column for well interval, e.g. granite, sandstone, limestone, arkose, schist. Recommend using CGI simple lithology vocabulary. Use to account for EarthChem Material, EarthChem Type, EarthChem Composition, alluvium, 36-40': gravels; etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RockName" type="xs:string">
						<xs:annotation>
							<xs:documentation>Free text name for lithology category of sample, e.g. biotite-hornblende granite, lithofeldspathic sandstone, calcareous arkose, biotite schist.</xs:documentation>
						</xs:annotation>
						</xs:element>
					<xs:element name="SpecimenCollector" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Free text specification of person, organization, affiliation, address, etc. for party that originally collected specimen. Include contact information if available.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecimenCollectorURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Unique identifier for party that originally collected specimen. Ideally an http URI that will dereference to some standard representation like CI_ResponsibleParty (ISO19115).</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DateCollected" type="xs:string">
						<xs:annotation>
							<xs:documentation>Date for the record (date on which observation, measurement or test was made or specimen was collected. Day, month and year must be specified; Excel will display using ISO 8601 date and time (yyyy-mm-ddT:hh:mm) format. If only the year is known, enter month and day as 'Jan. 1', (or '1/1/', or '1-1-', or 'January 1,'). All dates will be converted to yyyy-mm-ddThh:mm.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CollectionMethod" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Coring, blasting, dredging, etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CollectionPurpose" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Analysis, sample collection, etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecimenType" type="xs:string">
						<xs:annotation>
							<xs:documentation>TTerm to describe the type of specimen. Use term from list of Specimen types. If the specimen type collected is not present on this list, add the specimen type to the list in the example column.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecimenMass_kg" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Measured or best estimate of mass of sample; report in kilograms for interoperability.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrentCurationLocation" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Free text Name of institutiion, museum, or repository where the sample is currently stored.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecimenCuration" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Other information about specimen curation-previous history of curation; contact information for person who should be contacted for information about or access to the sample.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CuratorURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifier for the party that currently has stewardship of the specimen. Ideally an http URI that will dereference to a standard CI_ResponsibleParty type representation of the party.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="AccessConstraint" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text specification of constraints on access to this sample description. Might include a date when information becomes public, and term like: public, private, sandbox, for use by sample catalog system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="County" type="xs:string">
						<xs:annotation>
							<xs:documentation>Required. County name. If unknown or not applicable use 'missing'. If offshore, specify 'offshore' in this field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="State" type="xs:string">
						<xs:annotation>
							<xs:documentation>Required. State name without abbreviations. If unknown or not applicable use 'missing'. For offshore locations, specify the governing or nearest state and list the county as 'offshore'.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocationKeyword" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Additional information or more geographic names associated with sample collection location; if multiple names supplied, delimit with pipe '|' character, e.g. Arizona | La Paz County | Harquahala Mountains | Browns Canyon.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PLSS_Meridians" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>List north-south baseline and east-west meridian that Townships and Ranges are referenced to.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TWP" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Township in PLSS grid, relative to reported baseline. Formatting and punctuation should be consistent for all locations referenced to the same baseline and meridian. Recommend adding leading '0's so that all number strings are the same length (typically 2 or occasionally 3 digits). Examples 01N, 112S, 001N.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RGE" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Range in PLSS grid, relative to reported meridian. Formatting and punctuation should be consistent for all locations referenced to the same baseline meridian. See instructions on TWP field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Section_" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PLSS section number. Must be numeric or null. Some surveys include half sections indicated by a 'nn.5' designation, where n indicates a number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SectionPart" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Subdivision of a PLSS section.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Parcel" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Legal parcel identifier, block number or other parcel or location identifier.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTM_E" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>UTM easting coordinate as decimal number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTM_N" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>UTM northing coordinate as decimal number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTMZone" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The datum and UTM zone for the reported coordinates. Datum for most locations should be NAD27 or NAD83.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LatDegree" type="xs:double">
						<xs:annotation>
							<xs:documentation>Latitude coordinate for the surface location of the feature (use center point for areas); values should be provided with at least 4 significant digits for sufficient precision (7 decimal places is recommended by the USGS (OFR 02-463, p. 6). Use decimal degrees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LongDegree" type="xs:double">
						<xs:annotation>
							<xs:documentation>Longitude coordinate for the surface location of the feature (use center point for areas); values should be provided with at least 4 significant digits for sufficient precision (7 decimal places is recommended by the USGS (OFR 02-463, p. 6). Use decimal degrees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SRS" type="xs:string">
						<xs:annotation>
							<xs:documentation>The spatial reference system. It is recommended that an EPSG code be used to identify the SRS used to specify the location.  If an EPSG code is used, identify it as such with the prefix 'EPSG:' For common EPSG codes, see the Data Valid Terms tab. EPSG:4326 is the identifier for WGS84, and should be the text in this field. EPSG stands for European Petroleum Survey Group. EPSSG codes can be dereferenced by putting the code in this URL (replace 4326) http://spatialreference.org/ref/epsg/4326/.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocationUncertaintyStatement" type="xs:string">
						<xs:annotation>
							<xs:documentation>Information on how the original location was determined, e.g.: 1:250,000 map, gps unit, Google Earth, PLSS Conversion, Spatial Datum Conversion, e.g., NAD27 to WGS84.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocationDescription" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Free text description of the sample location, the specific place where your sample was collected, method used to determine the location of the sample, e.g. GPS, DVL, or relation to parent sample.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VerticalExtentMax_m" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Maximum elevation at which a sample was collected [in meters]. Use negative values for depth below sea level. Minimum elevation if a range is provided for the elevation/depth below sea level. “678.5”; “-4536” (=4536 meters depth below sea level).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VerticalExtentMin_m" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Minimum elevation at which a sample was collected [in meters]. Use negative values for depth below sea level. Minimum elevation if a range is provided for the elevation/depth below sea level. “678.5”; “-4536” (=4536 meters depth below sea level).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DatumElevation_m" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The point of reference against which elevation measurements are made. Best practice: use mean sea level (MSL) as datum.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SampledFeatureMinAge_Ma" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Numerical value for the minimum age of a sample expressed in Ma (million years); ex: 4.2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SampledFeatureMaxAge_Ma" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Numerical value for the maximum age of a sample expressed in Ma (million years); ex: 4.2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GeologicAge" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Age of a sample as described by the stratigraphic  era, period, etc. “Cretaceous”; “Upper Miocene”.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SampledFeatureAgeLabel" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Short text string for labeling the feature on maps. Can be the same as geologic age.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AgeAssignmentBasis" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Source of age dating: method or reference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AgeUncertainty_Ma" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>For material without related laboratory age determination, provide an uncertainty statement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CollectionActivityName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Free text name that should uniquely identify the collection activity (cruise, project, etc.) for human readers.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CollectionActivityURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifier for cruise, project, program that is context for sample collection activity. Ideally should dereference to some standard representation(s) of the activity.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SourceCitation" type="xs:string">
						<xs:annotation>
							<xs:documentation>Mandatory. Short text explanation of source of information defining this feature or record; may be author-date type citation, well log, report, data files etc., but should include some indication of how digital data originated. If unpublished data, provide researcher name, date and research institution for proper citation. Separate multiple citations with pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SourceCitationURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifier, DOI or other URI, for the cited source. Ideally an http URI that may be dereferenced to produce a representation of the original source document.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Registrant" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Free text specification of party that originally registered sample; may be name or organization, with or without contact information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrantURI" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifier for the party that originally registered the sample to create sampleURI.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="UpdateDate" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date of last time line of data was updated or corrected by the service provider.(Format: 2012-06-22T00:00).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RelatedResources" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>This may be one to many http links to resources (logs, pictures or other documents if available online. Should be an http:// address (URL)) related to the observation described in each record. Delimit multiple values with the pipe '|' character.</xs:documentation>
						</xs:annotation>
						</xs:element>
					<xs:element name="Notes" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Any additional information to be provided, including description and other data not captured by the template, details about collection method, contact information for  related parties (original collector, project PI, collection platform or Launch, etc.</xs:documentation>
						</xs:annotation>
						</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
						</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
